@font-face {
    font-family: DejaVuSans;
    src: url(DejaVuSans.ttf);
}

* {
    font-family: DejaVuSans;
}

#overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 1;
    background-color: white;
    cursor: pointer;
}

#overlay-text {
    text-align: center;
    vertical-align: middle;
}

@keyframes overlay-fade {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes overlay-text-shift {
    0% {margin-top: 0px;}
    100% {margin-top: -50px;}
}

.squircle {
    background-color: #f5f5f5;
    border-radius: 30px;
    padding: 2em;
    max-width: 970px !important;
}

#squircle {
    max-width: 100%;
    width: 100%;
}